:host {
  border-bottom: 1px solid #ececec;
  display: block;
  padding: 0 10px 26px;
  margin-top: 8px;
}
.dif-btn {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

h2 {
  margin: 16px 0 8px;
}

.reviewed{
  color: #367e37;
}

.article-header > * {
  margin: 8px;
}

.mb-5{
  margin-bottom: 1rem;
}
