<div class="container col-10">
  <div class="row justify-content-sm-center">
    <div class="col-12">
      <div class="border-secondary rounded-top">
        <div class="border-secondary" >Recuperar contraseña</div>
        <div class="card-body">
          <mat-error *ngIf="forgotError!=''" class="text-center m-auto"><small>{{forgotError}} </small></mat-error>

          <div class="row">
            <div class="col-12 text-center">
              <form class="form-signin container-fluid" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">

                <mat-form-field class="col-12">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" required>
                  <mat-error *ngIf="hasError('email', 'required')">Email requerido</mat-error>
                  <mat-error *ngIf="hasError('email', 'email')">Email inválido</mat-error>
                </mat-form-field>

                <div class="fcol-12 mt-5">
                  <button mat-stroked-button type="submit" color="primary" class="btn-block" [disabled]="!forgotForm.valid">
                    Recuperar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
