$initial-margin-top: 20px;
$primary: #37b43a;
$secondary:#f08a21;

.card {
  box-shadow: 0  10px  20px  rgba(0,0,0,0.19), 0  6px  6px  rgba(0,0,0,0.23);
  margin-top: $initial-margin-top;
}
.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.no-padding {
  padding: 0;
}

p {
  display: inline;
  color: #b0b3b4;
}

a {
  color: #b0b3b4;
}

a:hover,
a:focus {
  color: #2196f3;
}

.form-control-feedback {
  width: 20px;
}

.has-error .form-control-feedback {
  color: #bb4141;
}

.has-success .form-control-feedback {
  color: $primary;
}
/* Slider */

.mlt-carousel {
  background: $primary;
  height: 600px;
  border-radius: 12px;
  z-index: 1;
  box-shadow: 0px 0px 30px #808080;
  margin-top: 15px;
}
.mlt-carousel-xl {
  background: $primary;
  height: 1030px;
  border-radius: 12px;
  z-index: 1;
  box-shadow: 0px 0px 30px #808080;
  margin-top: 15px;
}

.item-content {
  text-align: center;
  color: #fff;
}

.item-content h3 {
  font-size: 19px;
  font-weight: bold;
  text-shadow: 0 0 1px #000;
  margin: 10px 0;
}

.item-content p {
  display: block;
  font-size: 15px;
  color: #fff;
  text-shadow: 0 0 1px #000;
}

.item {
  height: 600px;
  border-radius: 12px;
  overflow: hidden;
}

.item>img {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* login */

.mlt-content {
  height: 566px;
  z-index: 0;
  background: #fff;
  width: 100%;
  box-shadow: 0px 15px 40px #b3b3b3;
  -webkit-border-top-right-radius: 12px;
  -webkit-border-bottom-right-radius: 12px;
  -moz-border-radius-topright: 12px;
  -moz-border-radius-bottomright: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  text-align: center;
  padding-top: 30px;
  margin-top: 30px;
}
.mlt-content-xl{
  height: 1000px;
  z-index: 0;
  background: #fff;
  width: 100%;
  box-shadow: 0px 15px 40px #b3b3b3;
  -webkit-border-top-right-radius: 12px;
  -webkit-border-bottom-right-radius: 12px;
  -moz-border-radius-topright: 12px;
  -moz-border-radius-bottomright: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  text-align: center;
  padding-top: 30px;
  margin-top: 30px;
}


#myTabContent {
  margin-top: 35px
}


/* Media Queries*/

@media(max-width:768px) {
  body {
    padding-top: 15px;
  }
  .mlt-content {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
  }
}


/* active tab */
/* active tab */
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label {
  text-transform: uppercase;
}
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: #000000;
  background-color: rgba(74, 74, 74, 0.03);

}
/* ink bar */
::ng-deep .mat-ink-bar {
  background-color: var(--primary-color,$secondary) !important;
}

.tab-content{
  padding-top: 20px;
}

